version: '3.8'

services:
  frontend:
    restart: unless-stopped
    networks:
      - web
      - default
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.beer_rag.rule=Host(`rag-on-tap.com`)"
      - "traefik.http.routers.beer_rag.entrypoints=websecure"
      - "traefik.http.routers.beer_rag.tls.certresolver=myresolver"
      - "traefik.http.services.beer_rag.loadbalancer.server.port=80"

  backend:
    restart: unless-stopped

  db:
    restart: unless-stopped

networks:
  web:
    external: true
