name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test-backend:
    name: Test Backend
    runs-on: ubuntu-latest
    container:
      image: python:3.13-slim

    steps:
      - name: Install System Dependencies
        run: |
          apt-get update
          apt-get install -y git build-essential libpq-dev curl

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Install dependencies
        working-directory: ./backend
        run: uv sync --frozen --dev

      - name: Run tests
        working-directory: ./backend
        run: uv run pytest
